<!DOCTYPE html>
<html>

<head>
    <title>Matrix Calculator</title>
</head>

<style>
    body {
        font-family: calibri;
        margin: 10px;
        padding: 10px;
    }
    #answers {
        margin: 5px;
        padding: 5px;
    }
</style>

<body>
    

    <form action="{% url 'matrix_calculation' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="i1" size="3"><input type="text" name="i2" size="3"> <br/> 
        <input type="text" name="i3" size="3"><input type="text" name="i4" size="3"> <br/>
        <input type="submit" value="Calculate">
    </form>

    <form action="{% url 'matrix_3x3' %}" method="GET">
        <input type="submit" value = "Solve 3x3 Matrix">
    </form>

    {% if det %}
        <br/>
        Solution: <br/>
        <sector id="answers">
            Given matrix: <br/>
            &emsp;&emsp;&emsp;&emsp;&emsp;&ensp; {{m1}}&ensp; {{m2}}<br/>
            &emsp; &emsp; &emsp; &nbsp; A = {{m3}} &ensp; {{m4}} <br/>
            Determinant of matrix is {{det}}
        </sector>
    {% endif %}

</section>
<section id="warning">
    <br />
    {% if warning %}<i>{{warning}}</i>{% endif %}
</section>

</body>

</html>